<template name="taskView">
  {{> nav}}
  <section id="content">
    <!-- <section class="main padder"> -->

      <!-- <div class="row">
        <div class="col-lg-12">
          <button id="cal">Sync Tasks with Calendar</button><br>
        </div>
      </div> -->

      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading bg bg-primary">
              <a class="btn btn-link pull-right nav"></a>
              Dunmo Tasks
            </header>
            <ul class="list-group">
            {{#each tasks}}
              {{> taskListItem}}
            {{/each}}
            </ul>
          </section>
        </div>
      </div>

    <!-- </section> -->
  </section>
    <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>&copy; Dunmo 2015</small><br><br>
      </p>
    </div>
  </footer>
  <!-- / footer -->

  <div class="overlay"></div>
  <div data-onboarded-token="WHaDSsh3DjX66cDZ8LNIpw" style="display: none;" class="project">
    <div data-onboarded-flow="My Awesome New Flow" class="flow">
      <div data-step="1. Welcome" class="step">
        <h1>Step 1 of 2</h1>
        <p>Content</p>
        <button data-name="Go To Second Step" data-action-next="2. Second Step">Go to 2nd step</button>
      </div>
      <div data-step="2. Second Step" class="step">
        <h1>Step 2 of 2</h1>
        <p>Content</p>
        <button data-name="End Flow" data-action-complete>Finish</button>
      </div>
    </div>
  </div>
</template>
