<template name="taskView">
  <section id="content">
    {{#if renderTasks}}
      {{#if anyRecentTasks}}
        <div class="row">
          <div class="col-lg-12">
            <section class="panel task-review-panel">
              <header class="panel-heading bg bg-primary">
                Recent Tasks
              </header>
              <ul class="list-group">
              {{#each recentTasks}}
                {{> taskListItem}}
              {{/each}}
              </ul>
            </section>
          </div>
        </div>
      {{/if}}

      <div class="row">
        <div class="col-lg-12">
          <section class="panel task-panel">
            <header class="panel-heading bg bg-primary">
              <a class="pull-right inline-action sync" href="#" style="color: white;">
                <span class="title">Sync Tasks</span>
                <i class="fa fa-refresh {{faSpinClass}}"></i>
              </a>
              {{#if anyRecentTasks}} Upcoming Tasks {{else}} Dunmo Tasks {{/if}}
            </header>
            <ul class="list-group">
            {{#if anyRecentTasks}}
              {{#unless anyOtherTasks}}
                {{> emptyTaskListNotice
                    message="Yay! You don't have any other tasks. Enjoy your freedom. :)"}}
              {{/unless}}
            {{else}}
              {{#if noTasks}}
                {{> emptyTaskListNotice
                    message="Yay! You don't have any tasks. Enjoy your freedom. :)"}}
              {{/if}}
            {{/if}}

            {{#if anyRecentTasks}}
              {{#each upcomingTasks}}
                {{> taskListItem}}
              {{/each}}
            {{else}}
              {{#each tasks}}
                {{> taskListItem}}
              {{/each}}
            {{/if}}
            </ul>
          </section>
        </div>
      </div>
    {{/if}}
  </section>
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p><small>&copy; Dunmo 2015</small><br><br></p>
    </div>
  </footer>
</template>
