<template name="resetPassword">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="auth-container">
          <ul class="nav nav-tabs">
            <li class="signup-link active">
              <a href="">Reset Password</a>
            </li>
          </ul>
          <div class="panel panel-default tab-panel">
            <div class="panel-body">
              <p class="notice"></p>

              <form role="form" class="form reset-password" novalidate>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control password" required/>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Confirm Password" class="form-control password-confirm" required/>
                </div>
                <div class="actions">
                  {{#spinnerButton class="btn btn-default reset-password" waitOn=btnLoading}}
                    Set Password
                  {{/spinnerButton}}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
