<template name="resetPassword">
  
  <div hidden="hidden" class="reset-header">
    <p class="lead">
      {{#if resetBtnDone}}
        All set! Check your email for a reset link.
        {{!-- {{#if usedGmailForReset}}
          If you're using your Gmail address with Dunmo, you can always login with Google instead.
          {{#spinnerButton class="btn btn-gplus btn-block" waitOn=googleBtnLoading}}
            <i class="fa fa-google-plus"></i> Sign in with Google
          {{/spinnerButton}}
        {{/if}} --}}
      {{else}}
        Reset your password.
      {{/if}}
    </p>
    <hr>
  </div>


  <form role="form" class="form reset" novalidate>
    <div class="form-group">
      <input type="email"
             placeholder="Which email did you sign up with?"
             class="form-control email"
             disabled={{resetBtnDone}}
             required/>
    </div>
    <div class="actions">
      {{#spinnerButton class="btn btn-default reset" waitOn=btnLoading done=resetBtnDone}}
        {{#if resetBtnDone}}
          Email Sent!
        {{else}}
          Send Reset Email
        {{/if}}
      {{/spinnerButton}}
    </div>
  </form>
  
</template>
