<template name="calendarListItem">
  <li id={{_id}} class="list-group-item settings__cal__list__item {{activeClass}}" data-target="#todo-{{listIndex}}">
    <div class="media">
      <span class="pull-left thumb-small m-t-mini settings__cal__list__item__icon settings__cal__list__item__icon-label">
        <i class="fa fa-calendar fa-lg text-default"></i>
      </span>
      {{#if active}}
        <div id="todo-{{listIndex}}" class="pull-right text-primary m-t-small settings__cal__list__item__icon settings__cal__list__item__icon-active">
          <i class="fa fa-check fa-lg text-active"></i>
        </div>
      {{/if}}
      <div class="media-body">
        <div><p href="#" class="h5 text-primary3">{{summary}}{{title}}</p></div>
      </div>
    </div>
  </li>
</template>
