<template name="topbar">
  <div class="app-topbar">
    <a href="{{pathFor 'landing'}}" class="app-topbar__logo">Dunmo</a>
    {{#if currentUser}}
      {{#if currentUser.isGoogleAuthed}}
        <a class="app-topbar__button app-topbar__button--sync ion-loop {{spinClass}}"></a>
      {{/if}}
      <a href="{{helpUrl}}" class="app-topbar__button app-topbar__button--help ion-help" target="_blank"></a>
      <a href="{{pathFor 'settings'}}" class="app-topbar__button app-topbar__button--settings ion-gear-a"></a>
    {{/if}}
  </div>
</template>
