<template name="auth">

  <div class="auth">
    <ul class="auth__container">

      <li>
        
        <a href="javascript:void(0)" class="auth__tab auth__tab--login">Log In</a>
        
        <div class="auth__content auth__content--login">

          <p class="notice"></p>

          {{>login}}

        </div>
        
      </li>

      <li>
        
        <a href="javascript:void(0)" class="auth__tab auth__tab--signup">Sign Up</a>
        
        <div class="auth__content auth__tab--signup">
          
          {{>signup}}
          
        </div>
        
      </li>

      <li>
        
        <a href="javascript:void(0)" class="auth__tab auth__tab--forgot">Forgot Password</a>
        
        <div class="auth__content auth__content--forgot">
                    
          {{>resetPassword}}
          
        </div>
        
      </li>

    </ul>
  </div>
  
</template>
