.landing {

    &-nav {
        //@include transition(all 0.25s ease-in-out);
        @include block(4rem);
        @include medium {
            font: 1.25rem/4rem $sans-serif;
        }
        @include large {
            font: 1.5rem/4rem $sans-serif;
        }
        @include larger {
            font: 1.75rem/4rem $sans-serif;
        }
        text-align: center;
        color: $white;
        text-transform: uppercase;
        z-index: 50;

        &.sticky {
            @include transition(all 0.25s ease-in-out);
            @include medium {
                font: 0.75rem/3rem $sans-serif;
            }
            @include large {
                font: 1rem/3rem $sans-serif;
            }
            @include larger {
                font: 1.25rem/3rem $sans-serif;
            }
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 3rem;
            //font: 1rem/3rem $sans-serif;
            color: $black;
            background: rgba($white,0.85);
            border-bottom: 1px solid $fern;
        }

        &__item {
            @include transition(all 0.25s ease-in-out);
            box-sizing: border-box;
            display: inline-block;
            margin: 0 0.5rem;
            padding: 0 1rem;
            cursor: pointer;
            &:hover {
                color: $fern;
            }

            &.current {
                color: $fern;
                //border-bottom: 3px solid $fern;
            }
        }

        &__logo {
            display: none;
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }

        &__action {
            display: none;
            position: absolute;
            top: 0;
            right: 1rem;
            //font: 1rem/3rem $sans-serif;
            color: $mantis;
            text-transform: uppercase;
        }

    }

    &-splash {
        @include block(100%);
        @include background-image('../images/0b.jpg');
        display: table; // to vertically center content
        //min-height: 40rem;
        //@include padding;
        color: $grey;

        &__container { // to vertically center content
            display: table-cell;
            vertical-align: middle;
        }

        &__brand {
            @include medium {
                width: 30rem;
            }
            @include large {
                width: 35rem;
            }
            @include larger {
                width: 50rem;
            }
            display: block;
            height: auto;
            margin: auto;
        }

        &__tagline {
            width: 100%;
            text-align: center;
            color: $white;
            font: 2rem/3rem $sans-serif;
            margin: 1rem auto;
        }

        &__action {
            @include medium {
                @include button(15rem,3rem,1rem,1px solid $white);
            }
            @include large {
                @include button(20rem,4rem,1.5rem,1px solid $white);
            }
            @include larger {
                @include button(25rem,5rem,2.5rem,1px solid $white);
            }
            text-transform: uppercase;
            margin: 1rem auto;
            &:hover {
                background: $white;
                color: $mantis;
            }
        }

        &__nav-container {
            @include block(4rem);
        }

    }

    &-story {
        @include block;
        @include padding(3rem);
        background: $white;
        color: $grey;

            &__heading {
                width: 100%;
                text-align: center;
                font: 2.5rem/4rem $sans-serif;
                text-transform: uppercase;
            }

            &__text {
                @include medium {
                    width: 30rem;
                }
                @include large {
                    width: 35rem;
                }
                @include larger {
                    width: 50rem;
                }
                display: block;
                margin: 1rem auto;
                text-align: justify;
            }

    }

    &-meet {
        @include block(600%);
        @include padding(3rem);
        min-height: 4000px;
        background: $mantis;
        color: $white;

            &__heading {
                width: 100%;
                text-align: center;
                font: 2.5rem/4rem $sans-serif;
                text-transform: uppercase;
            }

            &__bot-container {
                /*@include medium {
                    width: 15rem;
                }
                @include large {
                    width: 20rem;
                }
                @include larger {
                    width: 25rem;
                }*/
                width: 100%;
                //height: auto;
                //margin: 1rem auto;

            }

            &__bot {
                //@include transition(all 0.25s ease-in-out);
                @include medium {
                    width: 15rem;
                }
                @include large {
                    width: 17.5rem;
                }
                @include larger {
                    width: 20rem;
                }
                height: auto;
                position: absolute;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                height: auto;
                //margin: 1rem auto;
                &--sticky {
                    position: fixed;
                    top: 5rem;
                    //left: 50%;
                    //transform: translateX(-50%);
                }
                &--end {
                    position: absolute !important;
                    //bottom: 3rem;
                    //left: 50%;
                    //transform: translateX(-50%);
                }
            }

            &__slide {
                @include medium {
                    font: 1rem/1.25rem $sans-serif;
                    width: 15rem;
                }
                @include large {
                    font: 1.5rem/1.75rem $sans-serif;
                    width: 20rem;
                }
                @include larger {
                    font: 1.75rem/2rem $sans-serif;
                    width: 30rem;
                }
                position: fixed;
                top: 10rem;
                font: 1.25rem/1.5rem $sans-serif;
                //background: $white;
                display: none;
                opacity: 0;
                &.abs {
                    position: absolute !important;
                }
                &--left {
                    @include medium {
                        right: calc(50% + 9rem);
                    }
                    @include large {
                        right: calc(50% + 12rem);
                    }
                    @include larger {
                        right: calc(50% + 17rem);
                    }
                    text-align: right;
                }
                &--right {
                    @include medium {
                        left: calc(50% + 9rem);
                    }
                    @include large {
                        left: calc(50% + 12rem);
                    }
                    @include larger {
                        left: calc(50% + 17rem);
                    }
                    text-align: left;
                }
                &--center-right {
                    @include medium {
                        font: 2rem/2.5rem $sans-serif;
                        width: 30rem;
                        left: calc(3% + 17rem);
                    }
                    @include large {
                        font: 2.5rem/3rem $sans-serif;
                        width: 40rem;
                        left: calc(3% + 20rem);
                    }
                    @include larger {
                        font: 3rem/3.5rem $sans-serif;
                        width: 60rem;
                        left: calc(3% + 25rem);
                    }
                    top: 7rem;
                    text-align: left;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &--center-left {
                    @include medium {
                        font: 2rem/2.5rem $sans-serif;
                        width: 30rem;
                        right: calc(3% + 17rem);
                    }
                    @include large {
                        font: 2.5rem/3rem $sans-serif;
                        width: 40rem;
                        right: calc(3% + 20rem);
                    }
                    @include larger {
                        font: 3rem/3.5rem $sans-serif;
                        width: 60rem;
                        right: calc(3% + 25rem);
                    }
                    top: 7rem;
                    text-align: right;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

    }

    &-team {
        @include block;
        @include padding(3rem);
        background: $white;

            &__heading {
                width: 100%;
                text-align: center;
                font: 2.5rem/4rem $sans-serif;
                text-transform: uppercase;
            }

            &__container {
                @include medium {
                    width: 45rem;
                }
                @include large {
                    width: 72rem;
                }
                @include larger {
                    width: 108rem;
                }
                margin: 1rem auto;
            }

            &__profile {
                @include medium {
                    width: 13rem;
                    margin: 0 1rem;
                }
                @include large {
                    width: 20rem;
                    margin: 0 2rem;
                }
                @include larger {
                    width: 30rem;
                    margin: 0 3rem;
                }
                float: left;

                &__picture {
                    display: block;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 5rem;
                    margin: 1rem auto;
                }

                &__name {
                    width: 100%;
                    font: 1.5rem/2rem $sans-serif;
                    text-align: center;
                }

                &__position {
                    width: 100%;
                    font: 0.75rem/1rem $sans-serif;
                    text-align: center;
                }

                &__bio {
                    display: block;
                    text-align: justify;
                }

            }

    }

    &-contact,
    &-subscribe {
        @include block;
        @include padding(3rem);
        background: $grey;
        color: white;

            &__heading {
                width: 100%;
                text-align: center;
                font: 2.5rem/4rem $sans-serif;
                text-transform: uppercase;
            }

            &__form {
                @include medium {
                    width: 30rem;
                }
                @include large {
                    width: 35rem;
                }
                @include larger {
                    width: 50rem;
                }
                margin: 0 auto;
                text-align: center;

                &__input,
                &__textarea {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 2rem;
                    border-radius: 1rem;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
                &__input {
                    margin: 1rem auto;
                    padding: 0 1rem;
                    font: 1rem/2rem $sans-serif;
                }
                &__textarea {
                    height: 5rem;
                    margin: 1rem auto;
                    padding: 0.5rem 1rem;
                    font: 1rem/1.25rem $sans-serif;
                }

                &__submit {
                    @include button(50%,3rem,1rem,1px solid $white);
                    text-transform: uppercase;
                    margin: 0 auto;
                    cursor: pointer;
                    &:hover {
                        color: $grey;
                        background: $white;
                    }
                }

            }

    }

    &-subscribe {
        background: $mantis;

        &__form__input {
            height: 3rem;
            font: 1rem/3rem $sans-serif;
            border-radius: 1.5rem;
        }

        &__form__submit:hover {
            color: $mantis;
        }

    }

    &-footer {
        @include block;
        @include padding(5rem);
        background: $black;
    }

}