
<template name="settings">

  <div class="settings">

    {{#if currentUser.isGoogleAuthed}}
    <h6>Dunmo Settings</h6>

    <section>
      <label for="start-of-workday">Start of Workday</label>
      <input name="start-of-workday" type="time">
    </section>
    <section>
      <label for="end-of-workday">End of Workday</label>
      <input name="end-of-workday" type="time">
    </section>
    <section>
      <label for="task-granularity">Task Granularity</label>
      <div class="one">
        <input name="task-granularity" type="number" min="1" max="60" step="1">
        <span>m</span>
      </div>
    </section>
    <section>
      <label for="max-task-interval">Max Task Interval</label>
      <div class="two">
        <input name="max-task-interval-hours" type="number" min="0" max="24">
        <span>h</span>
        <input name="max-task-interval-minutes" type="number" min="0" max="60">
        <span>m</span>
      </div>
    </section>
    <section>
      <label for="max-time-per-task-per-day">Max Time Per Task Per Day</label>
      <div class="two">
        <input name="max-time-per-task-per-day-hours" type="number" min="0" max="24">
        <span>h</span>
        <input name="max-time-per-task-per-day-minutes" type="number" min="0" max="60">
        <span>m</span>
      </div>
    </section>
    <section>
      <label for="task-break-interval">Task Break Interval</label>
      <div class="two">
        <input name="task-break-interval-hours" type="number" min="0" max="24">
        <span>h</span>
        <input name="task-break-interval-minutes" type="number" min="0" max="60">
        <span>m</span>
      </div>
    </section>

    {{/if}}


    {{#if currentUser.isGoogleAuthed}}
    <h6>Active Calendars</h6>

    <section>
      <ul class="calendar-list settings__cal__list">
        {{#each calendars}}
          {{> calendarListItem}}
        {{/each}}
      </ul>
    </section>
    {{/if}}


    <h6>Account</h6>

    <section><p class="notice text-center">{{errorMessage}}</p></section>
    <section>
      {{#spinnerButton class="button-reset" waitOn=resetBtnLoading done=resetBtnDone}}
        {{#if resetBtnDone}}
          Email Sent!
        {{else}}
          Send Password Reset Email
        {{/if}}
      {{/spinnerButton}}
    </section>
    <section>
      {{#spinnerButton class="button-logout" waitOn=btnLoading}}
        <i class="fa fa-logout"></i> Logout
      {{/spinnerButton}}
    </section>
    <section>
      {{>buttonGooglePlus}}
      {{#if currentUser.isGoogleAuthed}}
        <p class="text-center lead"> Currently connected to: {{currentUser.gmailAddress}} </p>
      {{else}}
        <p class="lead"> Use Google, and we can plan around your events. </p>
      {{/if}}
    </section>

  </div>

</template>
