<template name="landing">

    <div class="landing-nav display-none">

        <a href="#story" class="landing-nav__item landing-nav__item--story">Our Story</a>
        <a href="#meet" class="landing-nav__item landing-nav__item--meet">Features</a>
        <a href="#team" class="landing-nav__item landing-nav__item--team">The Team</a>
        <a href="#contact" class="landing-nav__item landing-nav__item--contact">Contact Us</a>

        <div class="landing-nav__logo">Dunmo</div>

        <a href="" class="landing-nav__action">Get the Beta</a>

    </div>

    <div class="landing-navigation">

        <img src="images/dunmo.png" class="landing-navigation__logo" />

        <a href="/" class="landing-navigation__link">About</a>
        <a href="/" class="landing-navigation__link">Blog</a>

        <a href="/login" class="landing-navigation__login">Log In</a>

    </div>

    <div class="landing-hero" id="hero">

        <div class="landing-hero__slash">

            <div class="landing-hero__slash__content">

                <div class="landing-hero__slash__brand">Dunmo</div>
                <div class="landing-hero__slash__tagline">Productivity with intelligence.</div>

            </div>

        </div>

        <div class="landing-hero__copy">

            <div class="landing-hero__copy__content">

                You've got a lot to manage.<br />Let's change that.<br />

                <a href="#features" class="landing-hero__learn" data-scroll>Learn More</a>
                <a href="#subscribe" class="landing-hero__action" data-scroll>Sign Up</a>

            </div>

        </div>

        <a href="#features" class="landing-splash__indicator fa fa-angle-down display-none"></a>

    </div>

    <div class="landing-features" id="features">

        <div class="landing-features__heading">Why use Dunmo?</div>

        <div class="landing-features__slide">

            <div class="landing-features__slide__copy landing-features__slide__copy--left">
                <div class="landing-features__slide__copy__catch">Get your priorities straight</div>
                Your task list will always be in priority order. Save time, energy, and stress by simply working on the most important things first.

            </div>

            <img src="images/1.jpg" class="landing-features__slide__screen landing-features__slide__screen--right" id="features1" />

        </div>

        <div class="landing-features__slide landing-features__slide--left">

            <div class="landing-features__slide__copy landing-features__slide__copy--right">
                <div class="landing-features__slide__copy__catch">Stop worrying about finding time</div>
                Connect your Google Calendar account and Dunmo will figure out when you have time to work on everything. This is the core of time management, and Dunmo can do it <i>for</i> you.

            </div>

            <img src="images/2.jpg" class="landing-features__slide__screen landing-features__slide__screen--left" id="features2"  />

        </div>

        <div class="landing-features__slide">

            <div class="landing-features__slide__copy landing-features__slide__copy--left">
                <div class="landing-features__slide__copy__catch">Filter for focus</div>
                Want to be laser-focused? Dunmo's got your back. With tags, you can quickly hone in on what you want, and nothing you don't. <i>#wicked</i>

            </div>

            <img src="images/3.jpg" class="landing-features__slide__screen landing-features__slide__screen--right" id="features3"  />

        </div>

        <div class="landing-features__slide landing-features__slide--left">

            <div class="landing-features__slide__copy landing-features__slide__copy--right">
                <div class="landing-features__slide__copy__catch">Project management made easy</div>
                Projects will streamline your workflow and help you get things done. Got a team? With a roster of features, you'll be able to manage without breaking a sweat.

            </div>

            <img src="images/4.jpg" class="landing-features__slide__screen landing-features__slide__screen--left" id="features4"  />

        </div>

    </div>

    <div class="landing-comingsoon" id="soon">

        <div class="landing-comingsoon__item">
            <span class="landing-comingsoon__item__catch">
                Get your priorities straight
            </span>
            <!--(show layout without tasks)-->
            Your task list will always be in priority order. Save time, energy, and stress by simply working on the most important things first.
        </div>

        <div class="landing-comingsoon__item">
            <span class="landing-comingsoon__item__catch">
                Stop worrying about finding time
            </span>
            <!--(show agenda w/ a few tasks)-->
            Connect your Google Calendar account and Dunmo will figure out when you have time to work on everything. This is the core of time management, and Dunmo can do it <i>for</i> you.
        </div>

    </div>

    <div class="landing-subscribe" id="subscribe">

        <div class="landing-subscribe__content">

            <div class="landing-subscribe__heading">Get early access!</div>

            <form id="subscription" class="landing-subscribe__form">

                <input class="landing-subscribe__form__input" name="name" type="text" placeholder="Name" />

                <input class="landing-subscribe__form__input" name="email" type="text" placeholder="Email" />

                <button type="submit" class="landing-subscribe__form__submit">
                    {{#if subscribeLoading}}
                        <i class="fa fa-spinner fa-spin"></i>
                    {{else}}
                        {{subscribeBtnText}}
                    {{/if}}
                </button>

            </form>

        </div>

    </div>

    <div class="landing-footer">

        <div class="landing-footer__company">Dunmo LLC</div>

        <a href="https://www.facebook.com/DunmoApp" class="landing-footer__social fa fa-facebook"></a>
        <a href="https://twitter.com/dunmoapp" class="landing-footer__social fa fa-twitter"></a>

    </div>

</template>
