
.navbar {

  .input-wrapper {
    padding-left:   140px;
    padding-right:  20px;

    form {
      margin-bottom: 0px;
    }

    .add-task.input-group {
      margin-left:  180px;
    }
  }

  .question-nav {
    padding-right: 20px;

    .fa {
      color: #DAE1E1;
    }

    .dropdown:hover .fa, .dropdown.open .fa {
      color: #2F3234
    }
  }

}
