
.navbar {

  height: 64px;

  .input-wrapper {
    padding: 4px 20px 0 140px;

    form {
      margin-bottom: 0px;
    }

    .add-task.input-group {
      margin-left:  180px;
    }
  }

  .question-nav {
    padding-right: 20px;

    .fa {
      color: #DAE1E1;
    }

    .dropdown:hover .fa, .dropdown.open .fa {
      color: #2F3234
    }
  }

}
