
<template name="addTaskInput">
   <section class="panel">
    <header class="panel-heading">
      <form action="" class="add-task">
        <div class="input-group text-small">
          <input type="text" class="add-task input-sm form-control" placeholder="Add Task">
          <div class="input-group-btn">
            <button type="button" class="add-task btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown">Add</button>
          </div>
        </div>
      </form>
      <div id="input-validation-msg"></div>
    </header>
  </section>
</template>
