/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/core/_common.scss */
html, body {
  font: 16px "Cantarell", "Helvetica", "Tahoma", sans-serif;
  color: #969696;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0px;
}

/* line 14, ../sass/core/_common.scss */
b {
  font-weight: bold;
}

/* line 15, ../sass/core/_common.scss */
i {
  font-style: italic;
}

/* line 16, ../sass/core/_common.scss */
a {
  color: #ff8c89;
  text-decoration: none;
}
/* line 19, ../sass/core/_common.scss */
a:hover {
  border-bottom: 1px solid #ff8c89;
}

/* line 24, ../sass/core/_common.scss */
h1 {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  text-transform: uppercase;
}

/* line 34, ../sass/core/_common.scss */
textarea {
  resize: none;
}

/* line 37, ../sass/core/_common.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 42, ../sass/core/_common.scss */
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

/* line 46, ../sass/core/_common.scss */
.display-none {
  display: none;
}

/* line 48, ../sass/core/_common.scss */
.group:after {
  content: '';
  display: table;
  clear: both;
}

/* line 1, ../sass/app/_topbar.scss */
.app-topbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #5ada62;
  color: #fafafa;
  box-shadow: 0 0 0.25rem 0.125rem #969696;
}
/* line 15, ../sass/app/_topbar.scss */
.app-topbar__logo {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  top: 0;
  left: 1rem;
  font: 2rem/4rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  color: #fafafa;
  text-transform: uppercase;
  border: none !important;
}
/* line 27, ../sass/app/_topbar.scss */
.app-topbar__search {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  box-sizing: border-box;
  height: 2rem;
  width: 30rem;
  font: 1rem/2rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  margin: 1rem auto;
  padding: 0 1rem;
  border-radius: 1rem;
  border: none;
}
/* line 38, ../sass/app/_topbar.scss */
.app-topbar__search:focus {
  outline: none;
  box-shadow: 0 0 0.25rem 0.125rem #ff8c89;
}
/* line 45, ../sass/app/_topbar.scss */
.app-topbar__button {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.75rem 0;
  font: 1.5rem/2.5rem "Ionicons";
  color: #fafafa;
  border: none !important;
  border-radius: 1.5rem;
  text-align: center;
}
/* line 61, ../sass/app/_topbar.scss */
.app-topbar__button:hover {
  box-shadow: 0 0 0.25rem 0.125rem #fafafa;
}
/* line 66, ../sass/app/_topbar.scss */
.app-topbar__button--help {
  right: 4.5rem;
}
/* line 70, ../sass/app/_topbar.scss */
.app-topbar__button--settings {
  right: 1rem;
}

/* line 1, ../sass/app/_sidebar.scss */
.app-sidebar {
  box-sizing: border-box;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
  height: 100%;
  padding: 5rem 0.5rem 1rem 0.5rem;
  margin: 0;
}
/* line 13, ../sass/app/_sidebar.scss */
.app-sidebar__section {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none !important;
}
/* line 22, ../sass/app/_sidebar.scss */
.app-sidebar__section:hover {
  background: #e3fece;
}
/* line 26, ../sass/app/_sidebar.scss */
.app-sidebar__section--active {
  background: #ededed;
}
/* line 28, ../sass/app/_sidebar.scss */
.app-sidebar__section--active:hover {
  background: #ededed;
}
/* line 33, ../sass/app/_sidebar.scss */
.app-sidebar__section__heading {
  display: block;
  width: 100%;
  font: bold 1.25rem/3rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
}
/* line 40, ../sass/app/_sidebar.scss */
.app-sidebar__subsection {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0.5rem 0.5rem;
}
/* line 45, ../sass/app/_sidebar.scss */
.app-sidebar__subsection__item {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  padding: 0 0.5rem;
  font: 1rem/1.5rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  border-radius: 0.25rem;
}
/* line 51, ../sass/app/_sidebar.scss */
.app-sidebar__subsection__item:hover {
  background: #d4fdb5;
}
/* line 55, ../sass/app/_sidebar.scss */
.app-sidebar__subsection__item--active {
  color: #fafafa;
  background: #bababa;
}
/* line 58, ../sass/app/_sidebar.scss */
.app-sidebar__subsection__item--active:hover {
  background: #bababa;
}
/* line 63, ../sass/app/_sidebar.scss */
.app-sidebar__subsection__item--add-project {
  font-style: italic;
}

/* line 1, ../sass/app/_mainview.scss */
.app-mainview {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 5rem 0 1rem 15rem;
}
/* line 5, ../sass/app/_mainview.scss */
.app-mainview__tab-container {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 0 3rem;
}
/* line 61, ../sass/core/_objects.scss */
.app-mainview__tab-container::after {
  content: '';
  display: table;
  clear: both;
}
/* line 11, ../sass/app/_mainview.scss */
.app-mainview__tab {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  float: left;
  box-sizing: border-box;
  width: calc(20% - 1rem);
  height: 3rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  font: 1rem/3rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  color: #bcbcbc;
  text-align: center;
  border-radius: 0.5rem;
  border: none !important;
  cursor: pointer;
}
/* line 27, ../sass/app/_mainview.scss */
.app-mainview__tab--active {
  color: #969696;
  background: #ededed;
}
/* line 34, ../sass/app/_mainview.scss */
.app-mainview__task-container {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 0 3rem;
  margin: 1rem auto;
}

/* line 1, ../sass/app/_taskitem.scss */
.app-taskitem {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  margin: 0.5rem auto;
  border-radius: 0.25rem;
  background: #fafafa;
}
/* line 9, ../sass/app/_taskitem.scss */
.app-taskitem__container {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem;
  margin: 0;
}
/* line 16, ../sass/app/_taskitem.scss */
.app-taskitem__head {
  width: 100%;
  height: 4rem;
}
/* line 20, ../sass/app/_taskitem.scss */
.app-taskitem__head__title {
  height: 2rem;
  font: 1.5rem/2rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
}
/* line 25, ../sass/app/_taskitem.scss */
.app-taskitem__head__description {
  height: 2rem;
  font: 1rem/2rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
}
/* line 32, ../sass/app/_taskitem.scss */
.app-taskitem__body {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}
/* line 36, ../sass/app/_taskitem.scss */
.app-taskitem__body__section {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25rem 0.5rem;
  float: none;
}
/* line 43, ../sass/app/_taskitem.scss */
.app-taskitem__body__section--duration {
  width: 25%;
  min-width: 8rem;
  float: left;
}
/* line 49, ../sass/app/_taskitem.scss */
.app-taskitem__body__section--due {
  width: 30%;
  float: left;
}
/* line 54, ../sass/app/_taskitem.scss */
.app-taskitem__body__section--importance {
  width: 45%;
  float: left;
}
/* line 60, ../sass/app/_taskitem.scss */
.app-taskitem__body__heading {
  font: bold 1rem/1.5rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
}
/* line 64, ../sass/app/_taskitem.scss */
.app-taskitem__body__content {
  position: relative;
  box-sizing: border-box !important;
  width: 100%;
  font: 1rem/1.25rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  color: #969696;
  padding: 0 0.25rem;
}
/* line 61, ../sass/core/_objects.scss */
.app-taskitem__body__content::after {
  content: '';
  display: table;
  clear: both;
}
/* line 72, ../sass/app/_taskitem.scss */
.app-taskitem__body__content[disabled] {
  background: #fafafa;
  color: #969696;
  border: none;
}
/* line 78, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--duration-hour, .app-taskitem__body__content--duration-minute {
  height: 1.5rem;
  width: 2rem;
  text-align: right;
  display: inline-block;
}
/* line 86, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--duration-hour-label, .app-taskitem__body__content--duration-minute-label {
  display: inline-block;
  width: 1.5rem;
  line-height: 1.5rem;
}
/* line 96, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--due {
  height: 1.5rem;
}
/* line 101, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance label {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  width: 25%;
  float: left;
  font: 1rem/1.5rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 114, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance label:nth-of-type(2n) {
  border: 1px solid #e1e1e1;
}
/* line 117, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance label:first-of-type {
  border-radius: 0.25rem 0 0 0.25rem;
  border-left: 1px solid #e1e1e1;
}
/* line 121, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance label:last-of-type {
  border-radius: 0 0.25rem 0.25rem 0;
}
/* line 124, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance label.active {
  font-weight: bold;
  background: #969696;
  color: #fafafa;
}
/* line 130, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance .group {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.25rem;
  opacity: 0 !important;
}
/* line 139, ../sass/app/_taskitem.scss */
.app-taskitem__body__content--importance input {
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  cursor: pointer;
}
/* line 151, ../sass/app/_taskitem.scss */
.app-taskitem__body__description {
  width: 100%;
  padding: 0.5rem 0;
}
/* line 174, ../sass/app/_taskitem.scss */
.app-taskitem__importance {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  font: 2rem/3rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  text-align: center;
}
/* line 186, ../sass/app/_taskitem.scss */
.app-taskitem__importance--rankzero::before {
  content: '-';
}
/* line 190, ../sass/app/_taskitem.scss */
.app-taskitem__importance--rankone::before {
  content: '!';
  color: #ff8c89;
}
/* line 195, ../sass/app/_taskitem.scss */
.app-taskitem__importance--ranktwo::before {
  content: '!!';
  color: #ff8c89;
}
/* line 200, ../sass/app/_taskitem.scss */
.app-taskitem__importance--rankthree::before {
  content: '!!!';
  color: #ff8c89;
}
/* line 207, ../sass/app/_taskitem.scss */
.app-taskitem__chevron {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  font: 1.5rem/3rem "Ionicons";
  text-align: center;
  cursor: pointer;
}
/* line 221, ../sass/app/_taskitem.scss */
.app-taskitem__quick-actions {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 4rem;
  right: 4rem;
  padding: 0 calc((50% - 10rem));
  height: 5rem;
  background: #fafafa;
  opacity: 0;
}
/* line 61, ../sass/core/_objects.scss */
.app-taskitem__quick-actions::after {
  content: '';
  display: table;
  clear: both;
}
/* line 237, ../sass/app/_taskitem.scss */
.app-taskitem__quick-actions__button {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  float: left;
  font: 1.5rem/3rem "Ionicons";
  text-align: center;
  border: none !important;
  cursor: pointer;
}
/* line 248, ../sass/app/_taskitem.scss */
.app-taskitem__quick-actions__button:hover {
  color: #bcbcbc;
}
/* line 254, ../sass/app/_taskitem.scss */
.app-taskitem:hover .app-taskitem__quick-actions {
  opacity: 1;
}

/* line 1, ../sass/dev/_experimental.scss */
.purdue-login {
  display: block;
  box-sizing: border-box;
  width: 20rem;
  height: 7rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background: #c7c7c7;
  border: 3px solid #adadad;
  padding: 1rem 2rem;
  text-align: center;
}
/* line 13, ../sass/dev/_experimental.scss */
.purdue-login img {
  height: 100%;
  width: auto;
  opacity: 0.5;
}
