/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_common.scss */
html, body {
  font: 1em "Cantarell", "Helvetica", "Tahoma" sans-serif;
  color: #969696;
  background: #fafafa;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0px;
}

/* line 14, ../sass/_common.scss */
b {
  font-weight: bold;
}

/* line 15, ../sass/_common.scss */
i {
  font-style: italic;
}

/* line 16, ../sass/_common.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/_common.scss */
h1 {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}

/* line 36, ../sass/_common.scss */
.display-none {
  display: none;
}

/* line 38, ../sass/_common.scss */
.group:after {
  content: '';
  display: table;
  clear: both;
}

/* line 3, ../sass/_landing.scss */
.landing-nav {
  position: relative;
  box-sizing: border-box;
  height: 4rem;
  width: 100%;
  text-align: center;
  color: #fafafa;
  text-transform: uppercase;
  z-index: 50;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 3, ../sass/_landing.scss */
  .landing-nav {
    font: 1.25rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 3, ../sass/_landing.scss */
  .landing-nav {
    font: 1.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
@media screen and (min-width: 1441px) {
  /* line 3, ../sass/_landing.scss */
  .landing-nav {
    font: 1.75rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
/* line 20, ../sass/_landing.scss */
.landing-nav.sticky {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  color: #141414;
  background: rgba(250, 250, 250, 0.85);
  border-bottom: 1px solid #5ada63;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 20, ../sass/_landing.scss */
  .landing-nav.sticky {
    font: 0.75rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 20, ../sass/_landing.scss */
  .landing-nav.sticky {
    font: 1rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
@media screen and (min-width: 1441px) {
  /* line 20, ../sass/_landing.scss */
  .landing-nav.sticky {
    font: 1.25rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
/* line 42, ../sass/_landing.scss */
.landing-nav__item {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
}
/* line 49, ../sass/_landing.scss */
.landing-nav__item:hover {
  color: #5ada63;
}
/* line 53, ../sass/_landing.scss */
.landing-nav__item.current {
  color: #5ada63;
}
/* line 59, ../sass/_landing.scss */
.landing-nav__logo {
  display: none;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
/* line 69, ../sass/_landing.scss */
.landing-nav__action {
  display: none;
  position: absolute;
  top: 0;
  right: 1rem;
  color: #3dc846;
  text-transform: uppercase;
}
/* line 81, ../sass/_landing.scss */
.landing-splash {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: url("../images/0b.jpg") center center/cover no-repeat;
  display: table;
  color: #969696;
}
/* line 89, ../sass/_landing.scss */
.landing-splash__container {
  display: table-cell;
  vertical-align: middle;
}
/* line 94, ../sass/_landing.scss */
.landing-splash__brand {
  display: block;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 94, ../sass/_landing.scss */
  .landing-splash__brand {
    width: 30rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 94, ../sass/_landing.scss */
  .landing-splash__brand {
    width: 35rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 94, ../sass/_landing.scss */
  .landing-splash__brand {
    width: 50rem;
  }
}
/* line 109, ../sass/_landing.scss */
.landing-splash__tagline {
  width: 100%;
  text-align: center;
  color: #fafafa;
  font: 2rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  margin: 1rem auto;
}
/* line 117, ../sass/_landing.scss */
.landing-splash__action {
  text-transform: uppercase;
  margin: 1rem auto;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 117, ../sass/_landing.scss */
  .landing-splash__action {
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid #fafafa;
    background: none;
    font-size: 1rem;
    line-height: 3rem;
    font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
    color: white;
    text-align: center;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 117, ../sass/_landing.scss */
  .landing-splash__action {
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid #fafafa;
    background: none;
    font-size: 1.5rem;
    line-height: 4rem;
    font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
    color: white;
    text-align: center;
  }
}
@media screen and (min-width: 1441px) {
  /* line 117, ../sass/_landing.scss */
  .landing-splash__action {
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 25rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: 1px solid #fafafa;
    background: none;
    font-size: 2.5rem;
    line-height: 5rem;
    font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
    color: white;
    text-align: center;
  }
}
/* line 129, ../sass/_landing.scss */
.landing-splash__action:hover {
  background: #fafafa;
  color: #3dc846;
}
/* line 135, ../sass/_landing.scss */
.landing-splash__nav-container {
  position: relative;
  box-sizing: border-box;
  height: 4rem;
  width: 100%;
}
/* line 141, ../sass/_landing.scss */
.landing-story {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #fafafa;
  color: #969696;
}
@media screen and (max-width: 800px) {
  /* line 141, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 141, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 141, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 141, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 6rem;
  }
}
/* line 147, ../sass/_landing.scss */
.landing-story__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 154, ../sass/_landing.scss */
.landing-story__text {
  display: block;
  margin: 1rem auto;
  text-align: justify;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 154, ../sass/_landing.scss */
  .landing-story__text {
    width: 30rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 154, ../sass/_landing.scss */
  .landing-story__text {
    width: 35rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 154, ../sass/_landing.scss */
  .landing-story__text {
    width: 50rem;
  }
}
/* line 171, ../sass/_landing.scss */
.landing-meet {
  position: relative;
  box-sizing: border-box;
  height: 600%;
  width: 100%;
  min-height: 4000px;
  background: #3dc846;
  color: #fafafa;
}
@media screen and (max-width: 800px) {
  /* line 171, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 171, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 171, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 171, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 6rem;
  }
}
/* line 178, ../sass/_landing.scss */
.landing-meet__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 185, ../sass/_landing.scss */
.landing-meet__bot-container {
  /*@include medium {
      width: 15rem;
  }
  @include large {
      width: 20rem;
  }
  @include larger {
      width: 25rem;
  }*/
  width: 100%;
}
/* line 201, ../sass/_landing.scss */
.landing-meet__bot {
  height: auto;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 201, ../sass/_landing.scss */
  .landing-meet__bot {
    width: 15rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 201, ../sass/_landing.scss */
  .landing-meet__bot {
    width: 17.5rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 201, ../sass/_landing.scss */
  .landing-meet__bot {
    width: 20rem;
  }
}
/* line 219, ../sass/_landing.scss */
.landing-meet__bot--sticky {
  position: fixed;
  top: 5rem;
}
/* line 225, ../sass/_landing.scss */
.landing-meet__bot--end {
  position: absolute !important;
}
/* line 233, ../sass/_landing.scss */
.landing-meet__slide {
  position: fixed;
  top: 10rem;
  font: 1.25rem/1.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  display: none;
  opacity: 0;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 233, ../sass/_landing.scss */
  .landing-meet__slide {
    font: 1rem/1.25rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 15rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 233, ../sass/_landing.scss */
  .landing-meet__slide {
    font: 1.5rem/1.75rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 20rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 233, ../sass/_landing.scss */
  .landing-meet__slide {
    font: 1.75rem/2rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 30rem;
  }
}
/* line 252, ../sass/_landing.scss */
.landing-meet__slide.abs {
  position: absolute !important;
}
/* line 255, ../sass/_landing.scss */
.landing-meet__slide--left {
  text-align: right;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 255, ../sass/_landing.scss */
  .landing-meet__slide--left {
    right: calc(50% + 9rem);
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 255, ../sass/_landing.scss */
  .landing-meet__slide--left {
    right: calc(50% + 12rem);
  }
}
@media screen and (min-width: 1441px) {
  /* line 255, ../sass/_landing.scss */
  .landing-meet__slide--left {
    right: calc(50% + 17rem);
  }
}
/* line 267, ../sass/_landing.scss */
.landing-meet__slide--right {
  text-align: left;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 267, ../sass/_landing.scss */
  .landing-meet__slide--right {
    left: calc(50% + 9rem);
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 267, ../sass/_landing.scss */
  .landing-meet__slide--right {
    left: calc(50% + 12rem);
  }
}
@media screen and (min-width: 1441px) {
  /* line 267, ../sass/_landing.scss */
  .landing-meet__slide--right {
    left: calc(50% + 17rem);
  }
}
/* line 279, ../sass/_landing.scss */
.landing-meet__slide--center-right {
  top: 7rem;
  text-align: left;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 279, ../sass/_landing.scss */
  .landing-meet__slide--center-right {
    font: 2rem/2.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 30rem;
    left: calc(3% + 17rem);
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 279, ../sass/_landing.scss */
  .landing-meet__slide--center-right {
    font: 2.5rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 40rem;
    left: calc(3% + 20rem);
  }
}
@media screen and (min-width: 1441px) {
  /* line 279, ../sass/_landing.scss */
  .landing-meet__slide--center-right {
    font: 3rem/3.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 60rem;
    left: calc(3% + 25rem);
  }
}
/* line 298, ../sass/_landing.scss */
.landing-meet__slide--center-right img {
  width: 100%;
  height: auto;
}
/* line 303, ../sass/_landing.scss */
.landing-meet__slide--center-left {
  top: 7rem;
  text-align: right;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 303, ../sass/_landing.scss */
  .landing-meet__slide--center-left {
    font: 2rem/2.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 30rem;
    right: calc(3% + 17rem);
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 303, ../sass/_landing.scss */
  .landing-meet__slide--center-left {
    font: 2.5rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 40rem;
    right: calc(3% + 20rem);
  }
}
@media screen and (min-width: 1441px) {
  /* line 303, ../sass/_landing.scss */
  .landing-meet__slide--center-left {
    font: 3rem/3.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 60rem;
    right: calc(3% + 25rem);
  }
}
/* line 322, ../sass/_landing.scss */
.landing-meet__slide--center-left img {
  width: 100%;
  height: auto;
}
/* line 331, ../sass/_landing.scss */
.landing-team {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #fafafa;
}
@media screen and (max-width: 800px) {
  /* line 331, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 331, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 331, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 331, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 6rem;
  }
}
/* line 336, ../sass/_landing.scss */
.landing-team__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 343, ../sass/_landing.scss */
.landing-team__container {
  margin: 1rem auto;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 343, ../sass/_landing.scss */
  .landing-team__container {
    width: 45rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 343, ../sass/_landing.scss */
  .landing-team__container {
    width: 72rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 343, ../sass/_landing.scss */
  .landing-team__container {
    width: 108rem;
  }
}
/* line 356, ../sass/_landing.scss */
.landing-team__profile {
  float: left;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 356, ../sass/_landing.scss */
  .landing-team__profile {
    width: 13rem;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 356, ../sass/_landing.scss */
  .landing-team__profile {
    width: 20rem;
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 356, ../sass/_landing.scss */
  .landing-team__profile {
    width: 30rem;
    margin: 0 3rem;
  }
}
/* line 371, ../sass/_landing.scss */
.landing-team__profile__picture {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin: 1rem auto;
}
/* line 379, ../sass/_landing.scss */
.landing-team__profile__name {
  width: 100%;
  font: 1.5rem/2rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-align: center;
}
/* line 385, ../sass/_landing.scss */
.landing-team__profile__position {
  width: 100%;
  font: 0.75rem/1rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-align: center;
}
/* line 391, ../sass/_landing.scss */
.landing-team__profile__bio {
  display: block;
  text-align: justify;
}
/* line 400, ../sass/_landing.scss */
.landing-contact, .landing-subscribe {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #969696;
  color: white;
}
@media screen and (max-width: 800px) {
  /* line 400, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 400, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 400, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 400, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 6rem;
  }
}
/* line 407, ../sass/_landing.scss */
.landing-contact__heading, .landing-subscribe__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 414, ../sass/_landing.scss */
.landing-contact__form, .landing-subscribe__form {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 414, ../sass/_landing.scss */
  .landing-contact__form, .landing-subscribe__form {
    width: 30rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 414, ../sass/_landing.scss */
  .landing-contact__form, .landing-subscribe__form {
    width: 35rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 414, ../sass/_landing.scss */
  .landing-contact__form, .landing-subscribe__form {
    width: 50rem;
  }
}
/* line 427, ../sass/_landing.scss */
.landing-contact__form__input, .landing-contact__form__textarea, .landing-subscribe__form__input, .landing-subscribe__form__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}
/* line 435, ../sass/_landing.scss */
.landing-contact__form__input:focus, .landing-contact__form__textarea:focus, .landing-subscribe__form__input:focus, .landing-subscribe__form__textarea:focus {
  outline: none;
}
/* line 439, ../sass/_landing.scss */
.landing-contact__form__input, .landing-subscribe__form__input {
  margin: 1rem auto;
  padding: 0 1rem;
  font: 1rem/2rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
}
/* line 444, ../sass/_landing.scss */
.landing-contact__form__textarea, .landing-subscribe__form__textarea {
  height: 5rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font: 1rem/1.25rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
}
/* line 451, ../sass/_landing.scss */
.landing-contact__form__submit, .landing-subscribe__form__submit {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  width: 50%;
  height: 3rem;
  border-radius: 1.5rem;
  border: 1px solid #fafafa;
  background: none;
  font-size: 1rem;
  line-height: 3rem;
  font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}
/* line 456, ../sass/_landing.scss */
.landing-contact__form__submit:hover, .landing-subscribe__form__submit:hover {
  color: #969696;
  background: #fafafa;
}
/* line 466, ../sass/_landing.scss */
.landing-subscribe {
  background: #3dc846;
}
/* line 469, ../sass/_landing.scss */
.landing-subscribe__form__input {
  height: 3rem;
  font: 1rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  border-radius: 1.5rem;
}
/* line 475, ../sass/_landing.scss */
.landing-subscribe__form__submit:hover {
  color: #3dc846;
}
/* line 481, ../sass/_landing.scss */
.landing-footer {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #141414;
}
@media screen and (max-width: 800px) {
  /* line 481, ../sass/_landing.scss */
  .landing-footer {
    padding: 5rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 481, ../sass/_landing.scss */
  .landing-footer {
    padding: 5rem 2.5rem;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  /* line 481, ../sass/_landing.scss */
  .landing-footer {
    padding: 5rem 4rem;
  }
}
@media screen and (min-width: 1441px) {
  /* line 481, ../sass/_landing.scss */
  .landing-footer {
    padding: 5rem 6rem;
  }
}

/* line 1, ../sass/_experimental.scss */
.purdue-login {
  display: block;
  box-sizing: border-box;
  width: 20rem;
  height: 7rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background: #c7c7c7;
  border: 3px solid #adadad;
  padding: 1rem 2rem;
  text-align: center;
}
/* line 13, ../sass/_experimental.scss */
.purdue-login img {
  height: 100%;
  width: auto;
  opacity: 0.5;
}
