/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_common.scss */
html, body {
  font: 1em "Cantarell", "Helvetica", "Tahoma" sans-serif;
  color: #969696;
  background: #fafafa;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0px;
}

/* line 14, ../sass/_common.scss */
b {
  font-weight: bold;
}

/* line 15, ../sass/_common.scss */
i {
  font-style: italic;
}

/* line 16, ../sass/_common.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/_common.scss */
h1 {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}

/* line 36, ../sass/_common.scss */
.display-none {
  display: none;
}

/* line 38, ../sass/_common.scss */
.group:after {
  content: '';
  display: table;
  clear: both;
}

/* line 3, ../sass/_landing.scss */
.landing-nav {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.95);
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #5ada62;
  z-index: 50;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 3, ../sass/_landing.scss */
  .landing-nav {
    font: 0.75rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 3, ../sass/_landing.scss */
  .landing-nav {
    font: 1rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
@media screen and (min-width: 1921px) {
  /* line 3, ../sass/_landing.scss */
  .landing-nav {
    font: 1.25rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  }
}
/* line 26, ../sass/_landing.scss */
.landing-nav__item {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #141414;
}
/* line 34, ../sass/_landing.scss */
.landing-nav__item:hover {
  color: #7eea85;
}
/* line 38, ../sass/_landing.scss */
.landing-nav__item.current {
  color: #5ada62;
  font-weight: bold;
}
/* line 45, ../sass/_landing.scss */
.landing-nav__logo {
  position: absolute;
  top: 0;
  left: 1rem;
  cursor: pointer;
  font: 2rem/3rem "Expletus Sans";
  color: #5ada62;
  text-transform: lowercase;
}
/* line 58, ../sass/_landing.scss */
.landing-nav__action {
  position: absolute;
  top: 0;
  right: 1rem;
  color: #7eea85;
  text-transform: uppercase;
}
/* line 70, ../sass/_landing.scss */
.landing-splash {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: url("../images/0b.jpg") center center/cover no-repeat;
  display: table;
  color: #969696;
}
/* line 78, ../sass/_landing.scss */
.landing-splash__container {
  display: table-cell;
  vertical-align: middle;
}
/* line 83, ../sass/_landing.scss */
.landing-splash__brand {
  width: 100%;
  display: block;
  height: auto;
  margin: auto;
  font: 10rem/10rem "Expletus Sans";
  color: #fafafa;
  text-align: center;
  text-transform: lowercase;
}
/* line 103, ../sass/_landing.scss */
.landing-splash__tagline {
  width: 100%;
  text-align: center;
  color: #fafafa;
  font: 2rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  margin: 0 auto;
}
/* line 111, ../sass/_landing.scss */
.landing-splash__action {
  text-transform: uppercase;
  margin: 2rem auto;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 111, ../sass/_landing.scss */
  .landing-splash__action {
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid #fafafa;
    background: none;
    font-size: 1.25rem;
    line-height: 4rem;
    font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
    color: white;
    text-align: center;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 111, ../sass/_landing.scss */
  .landing-splash__action {
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 25rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid #fafafa;
    background: none;
    font-size: 1.5rem;
    line-height: 4rem;
    font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
    color: white;
    text-align: center;
  }
}
@media screen and (min-width: 1921px) {
  /* line 111, ../sass/_landing.scss */
  .landing-splash__action {
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    width: 30rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: 1px solid #fafafa;
    background: none;
    font-size: 2.5rem;
    line-height: 5rem;
    font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
    color: white;
    text-align: center;
  }
}
/* line 123, ../sass/_landing.scss */
.landing-splash__action:hover {
  background: #fafafa;
  color: #5ada62;
}
/* line 131, ../sass/_landing.scss */
.landing-story {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #fafafa;
  color: #969696;
}
@media screen and (max-width: 800px) {
  /* line 131, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 131, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 131, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 131, ../sass/_landing.scss */
  .landing-story {
    padding: 3rem 6rem;
  }
}
/* line 137, ../sass/_landing.scss */
.landing-story__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 144, ../sass/_landing.scss */
.landing-story__text {
  display: block;
  margin: 1rem auto;
  text-align: justify;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 144, ../sass/_landing.scss */
  .landing-story__text {
    width: 30rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 144, ../sass/_landing.scss */
  .landing-story__text {
    width: 35rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 144, ../sass/_landing.scss */
  .landing-story__text {
    width: 50rem;
  }
}
/* line 161, ../sass/_landing.scss */
.landing-meet {
  position: relative;
  box-sizing: border-box;
  height: 600%;
  width: 100%;
  min-height: 4000px;
  background: #5ada62;
  color: #fafafa;
}
@media screen and (max-width: 800px) {
  /* line 161, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 161, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 161, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 161, ../sass/_landing.scss */
  .landing-meet {
    padding: 3rem 6rem;
  }
}
/* line 168, ../sass/_landing.scss */
.landing-meet__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 175, ../sass/_landing.scss */
.landing-meet__bot-container {
  /*@include medium {
      width: 15rem;
  }
  @include large {
      width: 20rem;
  }
  @include larger {
      width: 25rem;
  }*/
  width: 100%;
}
/* line 191, ../sass/_landing.scss */
.landing-meet__bot {
  height: auto;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 191, ../sass/_landing.scss */
  .landing-meet__bot {
    width: 15rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 191, ../sass/_landing.scss */
  .landing-meet__bot {
    width: 17.5rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 191, ../sass/_landing.scss */
  .landing-meet__bot {
    width: 20rem;
  }
}
/* line 209, ../sass/_landing.scss */
.landing-meet__bot--sticky {
  position: fixed;
  top: 5rem;
}
/* line 215, ../sass/_landing.scss */
.landing-meet__bot--end {
  position: absolute !important;
}
/* line 223, ../sass/_landing.scss */
.landing-meet__slide {
  position: fixed;
  top: 10rem;
  font: 1.25rem/1.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  display: none;
  opacity: 0;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 223, ../sass/_landing.scss */
  .landing-meet__slide {
    font: 1rem/1.25rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 15rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 223, ../sass/_landing.scss */
  .landing-meet__slide {
    font: 1.5rem/1.75rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 20rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 223, ../sass/_landing.scss */
  .landing-meet__slide {
    font: 1.75rem/2rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 30rem;
  }
}
/* line 242, ../sass/_landing.scss */
.landing-meet__slide.abs {
  position: absolute !important;
}
/* line 245, ../sass/_landing.scss */
.landing-meet__slide--left {
  text-align: right;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 245, ../sass/_landing.scss */
  .landing-meet__slide--left {
    right: calc(50% + 9rem);
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 245, ../sass/_landing.scss */
  .landing-meet__slide--left {
    right: calc(50% + 12rem);
  }
}
@media screen and (min-width: 1921px) {
  /* line 245, ../sass/_landing.scss */
  .landing-meet__slide--left {
    right: calc(50% + 17rem);
  }
}
/* line 257, ../sass/_landing.scss */
.landing-meet__slide--right {
  text-align: left;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 257, ../sass/_landing.scss */
  .landing-meet__slide--right {
    left: calc(50% + 9rem);
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 257, ../sass/_landing.scss */
  .landing-meet__slide--right {
    left: calc(50% + 12rem);
  }
}
@media screen and (min-width: 1921px) {
  /* line 257, ../sass/_landing.scss */
  .landing-meet__slide--right {
    left: calc(50% + 17rem);
  }
}
/* line 269, ../sass/_landing.scss */
.landing-meet__slide--center-right {
  top: 7rem;
  text-align: left;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 269, ../sass/_landing.scss */
  .landing-meet__slide--center-right {
    font: 2rem/2.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 30rem;
    left: calc(3% + 17rem);
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 269, ../sass/_landing.scss */
  .landing-meet__slide--center-right {
    font: 2.5rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 40rem;
    left: calc(3% + 20rem);
  }
}
@media screen and (min-width: 1921px) {
  /* line 269, ../sass/_landing.scss */
  .landing-meet__slide--center-right {
    font: 3rem/3.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 60rem;
    left: calc(3% + 25rem);
  }
}
/* line 288, ../sass/_landing.scss */
.landing-meet__slide--center-right img {
  width: 100%;
  height: auto;
}
/* line 293, ../sass/_landing.scss */
.landing-meet__slide--center-left {
  top: 7rem;
  text-align: right;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 293, ../sass/_landing.scss */
  .landing-meet__slide--center-left {
    font: 2rem/2.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 30rem;
    right: calc(3% + 17rem);
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 293, ../sass/_landing.scss */
  .landing-meet__slide--center-left {
    font: 2.5rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 40rem;
    right: calc(3% + 20rem);
  }
}
@media screen and (min-width: 1921px) {
  /* line 293, ../sass/_landing.scss */
  .landing-meet__slide--center-left {
    font: 3rem/3.5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
    width: 60rem;
    right: calc(3% + 25rem);
  }
}
/* line 312, ../sass/_landing.scss */
.landing-meet__slide--center-left img {
  width: 100%;
  height: auto;
}
/* line 321, ../sass/_landing.scss */
.landing-team {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #fafafa;
}
@media screen and (max-width: 800px) {
  /* line 321, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 321, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 321, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 321, ../sass/_landing.scss */
  .landing-team {
    padding: 3rem 6rem;
  }
}
/* line 326, ../sass/_landing.scss */
.landing-team__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 333, ../sass/_landing.scss */
.landing-team__container {
  margin: 1rem auto;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 333, ../sass/_landing.scss */
  .landing-team__container {
    width: 45rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 333, ../sass/_landing.scss */
  .landing-team__container {
    width: 72rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 333, ../sass/_landing.scss */
  .landing-team__container {
    width: 108rem;
  }
}
/* line 346, ../sass/_landing.scss */
.landing-team__profile {
  float: left;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 346, ../sass/_landing.scss */
  .landing-team__profile {
    width: 13rem;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 346, ../sass/_landing.scss */
  .landing-team__profile {
    width: 20rem;
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 346, ../sass/_landing.scss */
  .landing-team__profile {
    width: 30rem;
    margin: 0 3rem;
  }
}
/* line 361, ../sass/_landing.scss */
.landing-team__profile__picture {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin: 1rem auto;
}
/* line 369, ../sass/_landing.scss */
.landing-team__profile__name {
  width: 100%;
  font: 1.5rem/2rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-align: center;
}
/* line 375, ../sass/_landing.scss */
.landing-team__profile__position {
  width: 100%;
  font: 0.75rem/1rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-align: center;
}
/* line 381, ../sass/_landing.scss */
.landing-team__profile__bio {
  display: block;
  text-align: justify;
}
/* line 390, ../sass/_landing.scss */
.landing-contact, .landing-subscribe {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #969696;
  color: white;
}
@media screen and (max-width: 800px) {
  /* line 390, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 390, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 390, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 4rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 390, ../sass/_landing.scss */
  .landing-contact, .landing-subscribe {
    padding: 3rem 6rem;
  }
}
/* line 397, ../sass/_landing.scss */
.landing-contact__heading, .landing-subscribe__heading {
  width: 100%;
  text-align: center;
  font: 2.5rem/4rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  text-transform: uppercase;
}
/* line 404, ../sass/_landing.scss */
.landing-contact__form, .landing-subscribe__form {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 404, ../sass/_landing.scss */
  .landing-contact__form, .landing-subscribe__form {
    width: 30rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 404, ../sass/_landing.scss */
  .landing-contact__form, .landing-subscribe__form {
    width: 35rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 404, ../sass/_landing.scss */
  .landing-contact__form, .landing-subscribe__form {
    width: 50rem;
  }
}
/* line 417, ../sass/_landing.scss */
.landing-contact__form__input, .landing-contact__form__textarea, .landing-subscribe__form__input, .landing-subscribe__form__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}
/* line 425, ../sass/_landing.scss */
.landing-contact__form__input:focus, .landing-contact__form__textarea:focus, .landing-subscribe__form__input:focus, .landing-subscribe__form__textarea:focus {
  outline: none;
}
/* line 429, ../sass/_landing.scss */
.landing-contact__form__input, .landing-subscribe__form__input {
  margin: 1rem auto;
  padding: 0 1rem;
  font: 1rem/2rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
}
/* line 434, ../sass/_landing.scss */
.landing-contact__form__textarea, .landing-subscribe__form__textarea {
  height: 5rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font: 1rem/1.25rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
}
/* line 441, ../sass/_landing.scss */
.landing-contact__form__submit, .landing-subscribe__form__submit {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  width: 50%;
  height: 3rem;
  border-radius: 1.5rem;
  border: 1px solid #fafafa;
  background: none;
  font-size: 1rem;
  line-height: 3rem;
  font-family: "Cantarell", "Helvetica", "Tahoma" sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}
/* line 446, ../sass/_landing.scss */
.landing-contact__form__submit:hover, .landing-subscribe__form__submit:hover {
  color: #969696;
  background: #fafafa;
}
/* line 456, ../sass/_landing.scss */
.landing-subscribe {
  background: #5ada62;
}
/* line 459, ../sass/_landing.scss */
.landing-subscribe__form__input {
  height: 3rem;
  font: 1rem/3rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  border-radius: 1.5rem;
}
/* line 465, ../sass/_landing.scss */
.landing-subscribe__form__submit:hover {
  color: #5ada62;
}
/* line 471, ../sass/_landing.scss */
.landing-footer {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background: #141414;
}
@media screen and (max-width: 800px) {
  /* line 471, ../sass/_landing.scss */
  .landing-footer {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  /* line 471, ../sass/_landing.scss */
  .landing-footer {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 471, ../sass/_landing.scss */
  .landing-footer {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1921px) {
  /* line 471, ../sass/_landing.scss */
  .landing-footer {
    padding: 0 6rem;
  }
}
/* line 476, ../sass/_landing.scss */
.landing-footer__company {
  font: 1.25rem/5rem "Cantarell", "Helvetica", "Tahoma" sans-serif;
  color: #fafafa;
}
/* line 481, ../sass/_landing.scss */
.landing-footer__social {
  position: absolute;
  top: 0;
  margin: 1.5rem 0.5rem;
  display: block;
  height: 2rem;
  width: 2rem;
  color: #fafafa;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}
/* line 493, ../sass/_landing.scss */
.landing-footer__social.fa-facebook {
  right: 2rem;
}
/* line 496, ../sass/_landing.scss */
.landing-footer__social.fa-twitter {
  right: 5rem;
}

/* line 1, ../sass/_experimental.scss */
.purdue-login {
  display: block;
  box-sizing: border-box;
  width: 20rem;
  height: 7rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background: #c7c7c7;
  border: 3px solid #adadad;
  padding: 1rem 2rem;
  text-align: center;
}
/* line 13, ../sass/_experimental.scss */
.purdue-login img {
  height: 100%;
  width: auto;
  opacity: 0.5;
}
