
/* line 1, ../sass/app/_topbar.scss */
.app-topbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #5ada62;
  color: #fafafa;
  box-shadow: 0 0 0.25rem 0.125rem #969696;
}
/* line 15, ../sass/app/_topbar.scss */
.app-topbar__logo {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  top: 0;
  left: 1rem;
  font: 2rem/4rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  color: #fafafa;
  text-transform: uppercase;
  border: none !important;
}
/* line 27, ../sass/app/_topbar.scss */
.app-topbar__search {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  box-sizing: border-box;
  height: 2rem;
  width: 30rem;
  font: 1rem/2rem "Cantarell", "Helvetica", "Tahoma", sans-serif;
  margin: 1rem auto;
  padding: 0 1rem;
  border-radius: 1rem;
  border: none;
}
/* line 38, ../sass/app/_topbar.scss */
.app-topbar__search:focus {
  outline: none;
  box-shadow: 0 0 0.25rem 0.125rem #ff8c89;
}
/* line 45, ../sass/app/_topbar.scss */
.app-topbar__button {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.75rem 0;
  font: 1.5rem/2.5rem "FontAwesome";
  color: #fafafa;
  border: none !important;
  border-radius: 1.5rem;
  text-align: center;
}
/* line 61, ../sass/app/_topbar.scss */
.app-topbar__button:hover {
  box-shadow: 0 0 0.25rem 0.125rem #fafafa;
}
/* line 66, ../sass/app/_topbar.scss */
.app-topbar__button--help {
  right: 4.5rem;
}
/* line 70, ../sass/app/_topbar.scss */
.app-topbar__button--settings {
  right: 1rem;
}
