<template name="invalidSignupCode">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="auth-container">
          <ul class="nav nav-tabs">
            <li class="signup-link active">
              <a href="#">Sign Up</a>
            </li>
          </ul>
          <div class="panel panel-default tab-panel">
            <div class="panel-body">
              <p class="notice">
                Your signup code is invalid. If you believe this to be an error, contact us and we'll get you sorted.
              </p>

              <p class="notice">
                contact@dunmoapp.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
