<template name="referrals">
  <section id="referrals">
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading bg bg-primary"> Referrals </header>
          <br>
          <p>
            Referred here by a friend? Double check with them to make sure you have the email they used to sign up for Dunmo. Then, enter that email in the box below.
          </p>
          {{#if referred}}
            <p>You have successfully submitted your referral email.</p>
          {{else}}
            <form class="form-inline add-task">
              <div class="form-group">
                <input type="email" name="email" class="email referrer-input" placeholder="Enter their e-mail address..." required>
              </div>
              <button class="btn btn-conf btn-green btn-submit">Submit</button>
            </form>
          {{/if}}
        </section>
      </div>
    </div>
  </section>
</template>
