<template name="addTask">
  {{#if addTaskIsActive}}
  <form class="app-addtask">
    <div class="app-addtask__section app-addtask__section--importance">
      <div class="app-addtask__icon app-addtask__icon--importance app-taskitem__importance--{{rank}}"></div>
    </div>

    <div class="app-addtask__section app-addtask__section--title">
      <input class="app-addtask__content app-addtask__content--title" placeholder="Task title" required autofocus />
    </div>

    <div class="app-addtask__section app-addtask__section--duration">
      <div class="app-addtask__icon app-addtask__icon--duration">
        <i class="fa fa-clock-o"></i>
      </div>

      <div class="app-addtask__inputgroup app-addtask__inputgroup--duration-hour">
        <input class="app-addtask__content app-addtask__content--duration-hour" type="number" min="0" max="23  " />
        <label class="app-addtask__label app-addtask__section__label--duration-hour-label">h</label>
      </div>

      <div class="app-addtask__inputgroup app-addtask__inputgroup--duration-minute">
        <input class="app-addtask__content app-addtask__content--duration-minute" type="number" min="0" max="60" />
        <label class="app-addtask__label app-addtask__section__label--duration-minute-label">m</label>
      </div>
    </div>

    <div class="app-addtask__section app-addtask__section--due">
      <div class="app-addtask__icon app-addtask__icon--due">
        <i class="fa fa-calendar"></i>
      </div>

      <div class="app-addtask__inputgroup">
        <input class="app-addtask__content app-addtask__content--due" type="date" required />
      </div>
    </div>

    <div class="app-addtask__section app-addtask__section--save">
      <button type="submit" class="btn btn-block">
        Add {{itemName}}
      </button>
    </div>
  </form>
  {{/if}}
</template>
