

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	color: #666; 
	margin-top: 10px;
	letter-spacing: 0.7px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 60px; padding-bottom: 60px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* MENU CONFIGURATION*/
.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #03C9A9;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 16px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/*HELPERS*/

/*Text grey*/
tg {
	color: #b6b6b6;
}
/*Text Green*/
tgr {
	color: #03C9A9;
}

hr {
	border: 1px solid #5a5a5a;
	width:100px;
}

/* BOOTSTRAP MODIFICATIONS */
/*Collapse Panels*/
.panel-default > .panel-heading {
	color: #5a5a5a;
	background-color: transparent;
	border-color: #ddd;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 14px 28px 13px 28px;
	}

.btn-green {
	background: #03C9A9;
	color: white
}

.btn-clear {
	background: transparent;
	color: white;
	border: 2px solid white;
}
.btn-clear:hover {
	background: white;
	color: #2f2f2f;
}

/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 210px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	font-weight: 900;
	font-size: 70px;
}

#h h5 {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
}

#h h2 {
	font-size: 35px;
}

/* DIVIDED SECTION */
.news {
	background-position: center;
	background-image: url('../img/news-bg.jpg');
	background-size: cover;
}

.news .container {
	width: 100%
}

.section-bg-color {
	background-color: #03C9A9;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 80px;
	width: 100%;
	text-align: center;
}

.section-bg-color h3, .section-bg-color h1,.section-bg-color h5, .section-bg-color p {
	margin-left: 25px;
	margin-right: 25px;
	color: white;
	font-size: 25px;
	line-height: 1.5;
	padding-left: 35px;
	padding-right: 35px;
}

.section-transparent {
	background: transparent;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 80px;
}

.section-transparent h3, .section-transparent h1, .section-transparent h6, .section-transparent p {
	margin-left: 25px;
	margin-right: 25px;
	color: white;
}

.section-transparent h6 {
	font-weight: 700;
}

/* Icons - Round */
.circle-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #ffffff;
	position: relative;
}

.circle-icon .icon {
	color: #03C9A9;
	line-height: 120px;
	text-align: center;
}

.icon {
	font-size: 70px;
}

/* GREY SECTION */
#g {
	padding-bottom: 60px;
	padding-top: 60px;
	background: #f2f2f2;
}

/* TESTIMONIAL SECTION */
.testimonials {
	background-position: center;
	background-image: url('../img/testimonials.jpg');
	background-size: cover;
}

.testimonials .container {
	width: 100%
}

.section-bg-grey {
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 180px;
	padding-bottom: 180px;
}

.section-bg-grey h3, .section-bg-grey h1,.section-bg-grey h5, .section-bg-grey p {
	margin-left: 25px;
	margin-right: 25px;
	color: #5a5a5a;
}

/* PRICING TAG */
.price-tag {
	background: #f2f2f2;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 5px;
}

.price-tag h1 {
	font-weight: 700;
	font-size: 60px;
}

.price-tag h5, .price-tag h4 {
	font-weight: 400;
	letter-spacing: 1px;
}

.price-tag-green {
	background: #03C9A9;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;	
	margin: 5px;
}

.price-tag-green h1 {
	font-weight: 700;
	font-size: 60px;
}

.price-tag-green h5, .price-tag-green h4 {
	font-weight: 400;
	letter-spacing: 1px;
}

.price-tag-green p {
	color: white;
}

/* SPONSORS */

.sponsor img {
	max-width: 140px;
	max-height: 60px;
	vertical-align: middle;
}

.sponsor .col-sm-2 {
	height: 80px;
	line-height: 80px;
}

/* FOOTER */
#f {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #2f2f2f;
	color: #f2f2f2;
}

#f h5 {
	color: #b9b9b9;
	letter-spacing: 1px;
}

/* MAP */

#map-contact {
	height: 400px;
}

/* COPYRIGHT */
#copyright {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #010101;
	color: #f2f2f2;
}

#copyright h4 {
	font-weight: 700;
}

#copyright i {
	font-size: 25px;
	margin-right: 15px;
}

