<template name="layoutNew">
  {{> Template.dynamic template=header}}
  {{> Template.dynamic template=nav}}

  <div class="app-mainview">

    <div class="app-mainview__tab-container display-none">

        <div class="app-mainview__tab">Backlog</div>
        <div class="app-mainview__tab">This Week</div>
        <div class="app-mainview__tab">Tomorrow</div>
        <div class="app-mainview__tab app-mainview__tab--active">Today</div>
        <div class="app-mainview__tab">Done</div>

    </div>

    {{> Template.dynamic template=main}}

  </div>
</template>
