.landing-footer {
    @include block;
    @include padding;
    background: $black;

    &__company {
        font: 1.25rem/5rem $sans-serif;
        color: $white;
    }

    &__social {
        @include transition(all 0.25s);
        position: absolute;
        top: 0;
        margin: 1.5rem 0.5rem;
        display: block;
        height: 2rem;
        width: 2rem;
        color: $white;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
        text-decoration: none !important;
        border: none !important;

        &.fa-facebook {
            color: $facebook;
            right: 2rem;
        }
        &.fa-twitter {
            color: $twitter;
            right: 5rem;
        }
    }
    
}