<template name="gettingStarted">
  {{> nav}}
  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <div class="wizard clearfix">
              <ul class="steps">
                <li id="step-1" data-target="#step1" class="active"><span class="badge badge-info">1</span>Step 1!</li>
                <li id="step-2" data-target="#step2"><span class="badge">2</span>Step 2!</li>
                <li id="step-3" data-target="#step3"><span class="badge">3</span>Step 3!</li>
              </ul>
              <div class="actions">
                <button type="button" class="btn btn-white btn-xs btn-prev" disabled="disabled"> <i class="fa fa-chevron-left"></i>Prev</button>
                <button type="button" class="btn btn-white btn-xs btn-next" data-last="Finish">Next<i class="fa fa-chevron-right"></i></button>
              </div>
            </div>
            <div class="step-content">
              <div class="step-pane active" id="step1">
                <h4><b>!!</b> [Today] Homework </h4> <br> <h3>This is how you specify importance</h3>
              </div>
              <div class="step-pane" id="step2">
                <h4><b>!! [Today] </b>Homework [Today @ 5pm] </h4> <br>
                <h3>This is where you put the due date and time (Needs to be in Brackets) <br><br>[Next Tuesday @ 3am]<br> <br>[2/2/15]</h3>
              </div>
              <div class="step-pane" id="step3">
                <h4>Homework for <b>3 hours</b> (Format: # Unit)</h4>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </section>

  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>&copy; Dunmo 2015</small><br><br>
      </p>
    </div>
  </footer>
  <!-- / footer -->

</template>
