<template name="gapiExample">
  <div id="content">
    <!-- <button id="getFreetimes">Get Freetimes</button> -->
    <button id="getCalendars">Get Calendars</button>
    <button id="getFreetimes">Get Freetimes</button>
    <button id="insertCalendar">Add Calendar</button>
    <button id="deleteCalendar">Remove Calendar</button>
    <button id="addEvent">Add Event</button>
    <br><br>
    <input id="taskInput" type="text" placeholder="!!! term paper due [next friday] for 20 hours"><button id="addTask">Add Task</button>
    <h1>Todos</h1>
    <ul>
      {{#each tasks}}
        <li>{{title}}</li>
      {{/each}}
    </ul>
    <h1>Events</h1>
    <ul>
      {{#each calendars}}
        {{> calendar}}
      {{/each}}
    </ul>
  </div>
</template>
