<template name="sidebar">
    <div class="app-sidebar">

        <div class="app-sidebar__section app-sidebar__section--active">
            <span class="app-sidebar__section__heading">Agenda</span>
        </div>

        <div class="app-sidebar__section">
            <span class="app-sidebar__section__heading">Tasks</span>
            <ul class="app-sidebar__subsection">
                <li class="app-sidebar__subsection__item">All</li>
                <li class="app-sidebar__subsection__item">Completed</li>
                <li class="app-sidebar__subsection__item">Trash</li>
            </ul>
        </div>

        <div class="app-sidebar__section">
            <span class="app-sidebar__section__heading">Projects</span>
            <ul class="app-sidebar__subsection">
                <li class="app-sidebar__subsection__item app-sidebar__subsection__item--add-project">+ Add New</li>
                <li class="app-sidebar__subsection__item">Archive</li>
            </ul>
        </div>

    </div>
</template>
