.setting {
    input, label {
        display: inline-block !important;
    }
}

.settings {
    
    &__cal {
        
        &__field {
            width: 50% !important;
            min-width: 7.5rem !important;
        }
        
        &__halffield {
            width: 25% !important;
            min-width: 5rem !important;
        }
        
        &__halffield,
        &__field {
            @include transition(all 0.25s);
            //box-sizing: border-box;
            text-align: center;
            //background: none;
            //border: none;
            //height: 2rem;
            //padding: 0 0.25rem;
            
            &:focus {
                //background: $white;
            }
        }

        &__list {

            &__item {

                &--active {
                    color: $green;
                }

                &__icon {
                    margin-top: 6px;

                    &-label {
                        margin-top: 4px;
                    }

                    &-active {
                        color: $green;
                    }

                }

            }

        }

    }

}

.btn-reset,
.btn-logout {
    color: $white !important;
}

.btn-gplus {
    background: $google-plus !important;
    color: $white !important;
}
