.settings {

    &__cal {

        &__field {
            width: 50%;
            min-width: 7.5rem;
        }

        &__halffield {
            width: 25%;
            min-width: 5rem;
        }

        &__halffield,
        &__field {
            @include transition(all 0.25s);
            box-sizing: border-box;
            text-align: center;
            background: none;
            border: none;
            height: 2rem;
            padding: 0 0.25rem;
            border-left: 0.125rem solid transparent;
            border-right: 0.125rem solid transparent;
            border-top: 0.125rem solid transparent;
            border-bottom: 0.125rem solid $grey;

            &:focus {
                background: $white;
                border: 0.125rem solid $green;
            }
        }

        &__list {

            &__item {

                &--active {
                    color: $green;
                }

                &__icon {
                    margin-top: 6px;

                    &-label {
                        margin-top: 4px;
                    }

                    &-active {
                        color: $green;
                    }

                }

            }

        }

    }

}

.btn-reset,
.btn-logout {
    color: $white !important;
}

.btn-gplus {
    background: $google-plus !important;
    color: $white !important;
}
