<template name="calendarSettingsFlow">
  <div class="overlay"></div>
  <div data-onboarded-token="WHaDSsh3DjX66cDZ8LNIpw" style="display: none;" class="project">
    <div data-onboarded-flow="Calendar Settings Flow" class="flow">
      <div data-step="calendarSettings-step-1" class="step settings-step-1">
        <h2>Settings Page</h2>
        <p> This is the Settings Page. Here, you can tell Dunmo how to schedule more smartly. </p>
        <button data-name="Go To Second Step" data-action-next="calendarSettings-step-2">Next</button>
      </div>
      <div data-step="calendarSettings-step-2" class="step settings-step-2">
        <h2>Smart Scheduling</h2>
        <p> Rather than scheduling tasks while you're asleep, dunmo will take into account when your day starts and ends. You can set your own values here. </p>
        <button data-name="Go To First Step" data-action-next="calendarSettings-step-1">Back</button>
        <button data-name="Go To Third Step" data-action-next="calendarSettings-step-3">Next</button>
      </div>
      <div data-step="calendarSettings-step-3" class="step settings-step-3">
        <h2>Calendar Selection</h2>
        <p> You can also see a list of all your Google calendars and de-select any you don't want Dunmo to track. </p>
        <button data-name="Go To Second Step" data-action-next="calendarSettings-step-2">Back</button>
        <button data-name="End Flow" data-action-complete>Next</button>
      </div>
    </div>
  </div>
</template>
