<template name="taskViewFlow">
  <div class="overlay"></div>
  <div data-onboarded-token="WHaDSsh3DjX66cDZ8LNIpw" style="display: none;" class="project">
    <div data-onboarded-flow="Task View Flow" class="flow">
      <div data-step="taskView-step-1" class="step taskView-step-1">
        <h2>Welcome to Dunmo!</h2>
        <p>Congrats! You are taking the first step to organizing your life automatically. Dunmo schedules "task events" into your Google calendar for you in a smart, flexible way.</p>
        <button data-name="Go To Second Step" data-action-next="taskView-step-2">Next</button>
      </div>
      <div data-step="taskView-step-2" class="step taskView-step-2">
        <h2>Give Dunmo Your Tasks</h2>
        <p>This is where you add tasks for Dunmo to keep track of. Since tasks take time, every task should have a duration. Just give it your best guess.</p>
        <button data-name="Go To First Step" data-action-next="taskView-step-1">Back</button>
        <button data-name="Go To Third Step" data-action-next="taskView-step-3">Next</button>
      </div>
      <div data-step="taskView-step-3" class="step taskView-step-3">
        <h2>See Your Tasks in Order</h2>
        <p>Every task you enter will be immediately added to the list and sorted by Dunmo so that the first item is what you should be working on next.</p>
        <button data-name="Go To Second Step" data-action-next="taskView-step-2">Back</button>
        <button data-name="Go To Fourth Step" data-action-next="taskView-step-4">Next</button>
      </div>
      <div data-step="taskView-step-4" class="step taskView-step-4">
        <h2>Your Tasks Are On Your Calendar!</h2>
        <p> Every time you add a task, Dunmo will sync with Google calendar. Your tasks are put into a "Dunmo Tasks" calendar on your account to keep it separated from your events. </p>
        <button data-name="Go To Third Step" data-action-next="taskView-step-3">Back</button>
        <button data-name="Go To Fifth Step" data-action-next="taskView-step-5">Next</button>
      </div>
      <div data-step="taskView-step-5" class="step taskView-step-5">
        <h2>Everything in Sync</h2>
        <p> Whenever you modify a task or add something new, Dunmo will automatically recalculate and update your task calendar to reflect the changes. Welcome to Dunmo! If you get stuck or find a bug, just click the help button. </p>
        <button data-name="Go To Fourth Step" data-action-next="taskView-step-3">Back</button>
        <button data-name="End Flow" data-action-complete>Done</button>
      </div>
    </div>
  </div>
</template>
