<template name="taskViewFlow">
  <div class="overlay"></div>
  <div data-onboarded-token="WHaDSsh3DjX66cDZ8LNIpw" style="display: none;" class="project">
    <div data-onboarded-flow="Task View Flow" class="flow">
      <div data-step="taskView-step-1" class="step taskView-step-1">
        <h2> Welcome to Dunmo! </h2>
        <p> We'll give you a quick tour of the app. </p>
        <button data-name="Go To Second Step" data-action-next="taskView-step-2"> Next </button>
      </div>
      <div data-step="taskView-step-2" class="step taskView-step-2">
        <h2> Give Dunmo Your Tasks </h2>
        <p> Add your tasks here. Tasks take time, so give Dunmo your best guess on how long it should take. </p>
        <button data-name="Go To First Step" data-action-next="taskView-step-1">Back</button>
        <button data-name="Go To Third Step" data-action-next="taskView-step-3">Next</button>
      </div>
      <div data-step="taskView-step-3" class="step taskView-step-3">
        <h2> See Your Tasks in Order </h2>
        <p> Your tasks get instantly added to the list and sorted by Dunmo so that the first task is what you should work on next. </p>
        <button data-name="Go To Second Step" data-action-next="taskView-step-2">Back</button>
        <button data-name="Go To Fourth Step" data-action-next="taskView-step-4">Next</button>
      </div>
      <div data-step="taskView-step-4" class="step taskView-step-4">
        <h2> Your Tasks Are On Your Calendar! </h2>
        <p> Dunmo schedules your tasks into a "Dunmo Tasks" calendar on your Google Calendar account. </p>
        <button data-name="Go To Third Step" data-action-next="taskView-step-3">Back</button>
        <button data-name="Go To Fifth Step" data-action-next="taskView-step-5">Next</button>
      </div>
      <div data-step="taskView-step-5" class="step taskView-step-5">
        <h2> Relax! Let Dunmo take over! </h2>
        <p> If you get stuck or find a bug, tell us about it at support@dunmoapp.com </p>
        <button data-name="Go To Fourth Step" data-action-next="taskView-step-3">Back</button>
        <button data-name="End Flow" data-action-complete>Done</button>
      </div>
    </div>
  </div>
</template>
