<template name="taskViewFlow">
  <div class="overlay"></div>
  <div data-onboarded-token="WHaDSsh3DjX66cDZ8LNIpw" style="display: none;" class="project">
    <div data-onboarded-flow="My Awesome New Flow" class="flow">
      <div data-step="1. Welcome" class="step">
        <h1>Task Page</h1>
        <p>Here's where you can add tasks, and see a list of them sorted so that the task on top is the one Dunmo says you should do next.</p>
        <button data-name="Go To Second Step" data-action-next="2. Second Step">Go to 2nd step</button>
      </div>
      <div data-step="2. Second Step" class="step">
        <h1>Add a Task</h1>
        <p>Since tasks take time, every task should have a duration. Just give it your best guess.</p>
        <button data-name="End Flow" data-action-complete>Finish</button>
      </div>
    </div>
  </div>
</template>
