// Base Styles

html, body {
	font: 16px $sans-serif;
	color: $grey;
	background: darken($white,3%);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0px;
}

b { font-weight: bold; }
i { font-style: italic; }
a {
    color: $coral;
	text-decoration: none;
    &:hover {
        border-bottom: 1px solid $coral;
    }
}

h1 {
    width: 100%;
    text-align: center;
    font: 2.5rem/4rem $sans-serif;
    text-transform: uppercase;
}

hr {
}

textarea {
    resize: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.display-none { display: none; }

.group:after {
  content: '';
  display: table;
  clear: both;
}